<html>
<head>
    <link rel="stylesheet" href="/submit/styles/external.css" type="text/css">
<title>User Information Form</title>
</head>
<body>
<h1 style="color:red;">Hello User, Please find below submitted input.</h1>
<br>
<div>
  Name: <%= user.name %> <br>
  Email: <%= user.email %> <br>
  Mobile number: <%= user.mobileno %>
</div>
<br>
<div>
  <a href="/dbrecords"> View All MongoDB Records </a>
</div>

</body>
</html>