<html>
<head> <title> Test 1 </title>
<!-- <link rel="stylesheet" href="./styles/external.css"> -->

<!-- expressApp.use(express.static(__dirname + '/styles')); -->
<!-- <link rel="stylesheet" href="http://localhost:8090/external.css"> -->

<!-- expressApp.use(express.static(__dirname)); -->
<!-- <link rel="stylesheet" href="http://localhost:8090/styles/external.css"> -->

</head>
<body>
	<div> test 1</div>
</body>
</html>
