<html>
<head>
        <link rel="stylesheet" href="./styles/external.css">
<title>HTML PAGE</title>
</head>
<body><div>
<h1 style="color:red;">Welcome to Homepage of ExpressJs at port 8090.</h1>
<h1 style="color: orange;">Hi, <%= user %></h1>
<form action='/form/Sunil Chauhan' method='get' name='Welcome'>
    <input type='submit' value='submit'>
</form>  </div>
</body>
</html>